{% extends "layout.html" %} {% block body %}

<div class="jumbotron">
    <div class="container">

        <!-- user Signup-->
        <form class="form-horizontal" action="{{ url_for('add_keyword') }}" method="post">
            <fieldset>

                <!-- Form Name -->
                <legend>Add Keywords</legend>

                <div class="form-group">
                    <label class="col-md-4 control-label" for="vehicle_type">vehicle</label>
                    <div class="col-md-4">
                        <select class="form-control" id="vehicle" name="vehicle" required>
            {% for row in options %}
            <option value="{{ row['vehicle_id'] }}">{{ row['vehicle_name'] }}</option>
            {% else %}
            
            {% endfor %}
        </select>

                    </div>
                </div>

                <!-- Text input-->
                <div class="form-group">
                    <label class="col-md-4 control-label" for="keyword">Keyword</label>
                    <div class="col-md-4">
                        <input id="keyword" name="keyword" type="text" class="form-control input-md" required>

                    </div>
                </div>


                <!-- Button -->
                <div class="form-group">
                    <label class="col-md-4 control-label" for="add"></label>
                    <div class="col-md-4">
                        <button id="add" name="add" class="btn btn-primary">Add</button>
                    </div>
                </div>

            </fieldset>
        </form>
    </div>
</div>

<div class="row column text-center">
    <h2>vehicle Keywords</h2>
    <hr>
</div>

<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <table class="table">
            <thead>
                <tr>
                    <th>
                        vehicle name
                    </th>
                    <th>
                        Keyword
                    </th>
                </tr>
            </thead>
            <tbody>
                {% for row in rows %}
                <tr>
                    <td>
                        {{ row['vehicle_name'] }}
                    </td>
                    <td>
                        {{ row['keyword'] }}
                    </td>
                </tr>
                {% else %}
                <tr>
                    <td>
                        No Data
                    </td>
                    <td>
                        No Data
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="col-md-2"></div>
</div>

{% endblock %}